.App{
  width: 100%;
  min-height: 100vh;
}
h3{
  text-align: center;
  margin-bottom: 3rem;
}
.container{
  max-width:  60%;
  height: 100vh;
  margin: 10rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-Container{
  width: fit-content;
  padding: 2rem;
  border: 1px solid #22d1ee;
  border-radius: 0.6rem;
}
input,button,textarea,select{
  margin: 1rem;
  padding: 0.6rem 1rem;
  background-color: #e2f3f5;
  color: #0e153a;
}
label{
  margin:0  1rem;
}
.err{
  margin: 0 1rem;
  color: #ff304f;
}
input{
  padding: 4px 6px;
  outline: none;
}
button{
  padding: 4px 6px;
}
.middle{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}
.radio{
  display: flex;
  justify-content: center;
  align-items: first baseline;
}